<div class="clearfix">
  <button show-if-allowed="cpResource.updateOpts" class="btn btn-primary pull-right" title="{{'cp.tooltip.edit' | translate}}" 
    ui-sref="labels-edit({cpId:cp.id, editLabels: true})">
    <span class="fa fa-pencil"></span>
    <span translate="common.buttons.edit">Edit</span>
  </button>
  
  <div class="col-xs-8">
    <div class="os-section os-line-section">
      <div>
        <ul class="os-key-values os-one-col">
          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.ppid">PPID Format</strong>
            <span class="value value-md" ng-if="!cp.ppidFmt" translate="common.not_specified"></span>
            <span class="value value-md" ng-if="!!cp.ppidFmt">
              <span ng-if="ppidFmt.prefix">{{ppidFmt.prefix}}</span>
              <span ng-if="ppidFmt.digitsWidth">
                [{{ppidFmt.digitsWidth}} <span translate="common.digits"></span>]
              </span>
              <span ng-if="ppidFmt.suffix">{{ppidFmt.suffix}}</span>
            </span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.visit">Visit</strong>
            <span class="value value-md">{{cp.visitNameFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.specimen">Specimen</strong>
            <span class="value value-md">{{cp.specimenLabelFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.aliquot">Aliquot</strong>
            <span class="value value-md">{{cp.aliquotLabelFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.derivative">Derivative</strong>
            <span class="value value-md">{{cp.derivativeLabelFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.label_format.manual">User Inputs Allowed for</strong>
            <span class="value value-md">{{userInputLabels | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="cp.pre_print_spmn_labels">Pre Print Specimen Labels</strong>
            <span class="value value-md">{{'cp.spmn_label_pre_print_modes.' + cp.spmnLabelPrePrintMode | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="os-section os-line-section">
      <strong class="key key-sm" translate="cp.print_settings">Print Settings</strong>
      <div>
        <span ng-if="cp.spmnLabelPrintSettings.length == 0" translate="common.none">None</span>
        <table class="os-table os-table-muted-hdr os-border" ng-if="cp.spmnLabelPrintSettings.length > 0">
          <thead class="os-table-head">
            <tr class="row">
              <td class="col os-col-40">
                <span translate="cp.lineage">Lineage</span>
              </td>
              <td class="col os-col-40">
                <span translate="cp.when_to_print">When to Print</span>
              </td>
              <td class="col os-col-20">
                <span translate="cp.copies">Copies</span>
              </td>
            </tr>
          </thead>
          <tbody class="os-table-body">
            <tr class="row" ng-repeat="setting in cp.spmnLabelPrintSettings">
              <td class="col">
                <span>{{'cp.spmn_lineages.' + setting.lineage | translate}}</span>
              </td>
              <td class="col" ng-switch on="!!setting.printMode">
                <span ng-switch-when="true">
                  {{'srs.spmn_label_auto_print_modes.' + setting.printMode | translate}}
                </span>
                <span ng-switch-default translate="common.not_specified">
                  Not Specified
                </span>
              </td>
              <td class="col">
                <span>{{setting.copies | osNoValue}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

