<div class="dashlet">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>{{dashlet.config.title}}</span>
      <div class="os-btns">
        <div dropdown class="inline">
          <button class="btn os-btn-text dropdown-toggle">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li ng-if="dashlet.zoomedIn != true && !dashlet.poppedOut">
              <a ng-click="zoomIn()">
                <span translate="dashboard.zoom_in">Zoom In</span>
              </a>
            </li>
            <li ng-if="dashlet.zoomedIn == true && !dashlet.poppedOut">
              <a ng-click="zoomOut()">
                <span translate="dashboard.zoom_out">Zoom Out</span>
              </a>
            </li>
            <li ng-if="!dashlet.poppedOut">
              <a ng-click="popOut()">
                <span translate="dashboard.pop_out">Pop Out</span>
              </a>
            </li>
            <li class="divider" ng-if="!dashlet.poppedOut">
            </li>
            <li ng-repeat="chartType in ctx.chartTypes | filter: ctx.chartTypesFilter">
              <a ng-click="selectChartType(chartType)">
                <span>{{chartType.caption}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <os-chart data="ctx.data" options="dashlet.config.chartOpts">
      </os-chart>
    </div>
  </div>
</div>
